---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import CardSmall from '@components/ui/CardSmall.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import GithubButtons from '@components/ui/GithubButtons.astro';
import Link from '@components/ui/Link.astro';

const projects = await getCollection('more-projects', ({ data }) => {
	// console.log('data: ', data);
	// console.log('data inProgress: ', data.inProgress);
	return !data.inProgress;
});
---

<Layout title="Juan Diaz | More Projects" isIndexPage={false}>
	<main>
		<section class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto">
			<h2 class="font-monospace text-2xl text-orange lg:text-4xl">More Projects</h2>
			<span class="mb-10 h-1 w-10 bg-orange"></span>
			<p class="text-black dark:text-white">Here are some more projects that I have worked on.</p>
			<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
				{
					projects.map((project) => (
						<CardSmall
							url={project.data.link}
							title={project.data.title}
							description={project.data.description}
							tags={project.data.tags}
							github_url={project.data.github_link}
						/>
					))
				}
			</div>
			<div class="mb-10">
				<GithubButtons />
			</div>

			<Link
				text="GitHub Repos"
				ariaLabel="Link to GitHub Repos"
				href="https://github.com/JuanPabloDiaz?tab=repositories"
				arrow
			/>
		</section>
	</main>
	<BackToTop />
</Layout>
