---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import CardSmall from '@components/ui/CardSmall.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import SubTitle from '@components/ui/SubTitle.astro';
import GithubButtons from '@components/ui/GithubButtons.astro';
import Link from '@components/ui/Link.astro';

const projects = await getCollection('more-projects', ({ data }) => {
	// console.log('data: ', data);
	// console.log('data inProgress: ', data.inProgress);
	return !data.inProgress;
});
---

<Layout title="Juan Diaz | More Projects">
	<main>
		<section class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto">
			<SubTitle text="More Projects" />
			<p class="text-black dark:text-white">Here are some more projects that I have worked on.</p>
			<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
				{
					projects.map((project) => (
						<CardSmall
							title={project.data.title}
							description={project.data.description}
							github_url={project.data?.github_link}
							url={project.data.link}
							tags={project.data.tags}
							contribution={project.data.contribution}
						/>
					))
				}
			</div>
			<div class="mb-10">
				<GithubButtons />
			</div>
		</section>
	</main>
	<BackToTop />
</Layout>
