---
import SubTitle from '@components/ui/SubTitle.astro';
import GitHubIcon from './icons/GitHubIcon.astro';

const description =
	'Committed Front End developer seeking opportunities in growth-oriented startups. Upholds values of discipline, loyalty, and reliability, with a self-motivated approach to continuous learning and skill enhancement';
// "I'm a software engineer based in Lagos, Nigeria. I'm passionate about building software that solves real-world problems and helps businesses grow. I'm currently working as a software engineer at a fintech company in Lagos, Nigeria.";

const LinkStyle = 'hover:underline hover:underline-offset-4 text-orange';

const whatImDoing = [
	{
		role: 'Founder & Front-End Developer @',
		url: 'https://talentoparati.com',
		repo: '#', // No repo for this one
		title: 'Talento Pata TI',
		date: 'June 2024.',
	},
	{
		role: 'Open-Source Maintainer @',
		url: 'https://confs.tech',
		repo: 'https://github.com/tech-conferences/conference-data/graphs/contributors',
		title: 'Confs.tech',
		date: 'April 2024.',
	},
	{
		role: 'Open-Source Maintainer @',
		url: 'https://publicapis.dev',
		repo: 'https://github.com/marcelscruz/public-apis/graphs/contributors',
		title: 'Public APIs',
		date: 'July 2024.',
	},
	{
		role: 'Open-Source Maintainer @',
		url: 'https://devresourc.es',
		repo: 'https://github.com/marcelscruz/dev-resources/graphs/contributors',
		title: 'Dev Resources',
		date: 'July 2024.',
	},
];
---

<!-- <section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center md:mb-52 lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<SubTitle text="About me" />
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			{description}
		</p>
	</div>
</section> -->
<section
	data-testid="about"
	id="about"
	class="mt-0 flex flex-col items-center justify-center md:mt-10 lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<SubTitle text="About me" />
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			{description}
		</p>
	</div>
</section>
<section
	data-testid="about"
	id="about"
	class="mt-0 flex flex-col items-center justify-center md:mt-10 lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<SubTitle text="What I do" />
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		{
			whatImDoing.map((iDo, index) => (
				<p class="mb-2 flex justify-evenly" key={index}>
					{iDo.role}
					<a
						href={iDo.url}
						class={LinkStyle}
						aria-label={iDo.title}
						target="_blank"
						rel="noopener noreferrer"
					>
						{iDo.title}
					</a>
					<a
						href={iDo.repo}
						class="hover:text-orange"
						aria-label={iDo.title}
						title="GitHub Contributors Graph"
						target="_blank"
						rel="noopener noreferrer"
					>
						<GitHubIcon />
					</a>
					• Since {iDo.date}
				</p>
			))
		}
	</div>
</section>
