---
import CallToAction from '@components/CallToAction.astro';
import About from './About.astro';
import { Image } from 'astro:assets';
import juanImage from '@assets/images/juan.jpg';
import { site } from '@src/consts';
import Typewriter from 'astro-typewriter';

const PDF = './files/2025-FrontEndCV.pdf';
---

<section data-testid="hero" id="hero" class="mb-0 mt-0 h-auto text-center md:mb-24">
	<main class="flex flex-col-reverse items-center justify-center lg:flex-row">
		<div class="my-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
			<div>
				<h1
					class="mb-10 font-monospace text-2xl text-black dark:text-white lg:text-4xl"
					style="font-display: swap;"
				>
					Hi! My name is <span class="text-orange">{site.author}</span> and I am a
					<Typewriter
						slot="item-1"
						words={['Front End Developer', 'React Specialist', 'UI/UX Enthusiast']}
						loop={true}
						cursor={true}
						delay={75}
						typeSpeed={75}
						deleteSpeed={50}
					/>
					<span>based in Charlotte, NC.</span>
				</h1>
			</div>

			<p
				class="text-gray-500 dark:text-gray-400 mb-6 max-w-2xl font-light md:text-lg lg:mb-8 lg:text-xl"
			>
				{site.motto}
			</p>
			<div class="mb-4 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
				<CallToAction button />
			</div>
		</div>
		<div data-testid="hero-img" class="my-10 flex w-1/2 items-center justify-center">
			<Image
				class="rounded-full opacity-90 shadow-orange/50 duration-75 hover:scale-105 hover:transform hover:opacity-50 hover:shadow-2xl"
				src={juanImage}
				alt={site.author}
				format="jpg"
				width={450}
				height={450}
				quality={100}
				loading="lazy"
			/>
		</div>
	</main>
	<About />
</section>
