---
import { getCollection } from 'astro:content';
import CardSmall from './ui/CardSmall.astro';

const projects = await getCollection('open-source', ({ data }) => {
	// console.log('data: ', data);
	return !data.inProgress;
});
---

<section
	data-testid="openSource"
	id="oss"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Open Source</h2>
	<span class="mb-10 h-1 w-10 bg-orange"></span>
	<p class="text-gray-500 text-center lg:w-1/2">
		I love to contribute to OSS. Here are a few projects that I have worked on.
	</p>
	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		{
			projects.map((project) => (
				<CardSmall
					url={project.data.link}
					title={project.data.title}
					description={project.data.description}
					tags={project.data.tags}
					github_url={project.data.github_link}
				/>
			))
		}
	</div>
</section>
