---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';
import Link from '@components/ui/Link.astro';

const projects = await getCollection('projects', ({ data }) => {
	// console.log('data: ', data);
	// console.log('data inProgress: ', data.inProgress);
	return !data.inProgress;
});
// console.log('projects: ', projects);
// console.log(
// 	'title: ',
// 	projects.map((project) => project.data.title)
// );
// console.log(
// 	'id: ',
// 	projects.map((project) => project.id)
// );
// console.log(
// 	'Tags: ',
// 	projects.map((project) => project.data.tags)
// );
// console.log(
// 	'img Alt: ',
// 	projects.map((project) => project.data.img_alt)
// );
// console.log(
// 	'img path: ',
// 	projects.map((project) => project.data.image_path)
// );
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Projects</h2>
	<span class="mb-10 h-1 w-10 bg-orange"></span>
	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		{
			projects.map((project) => (
				<Card
					url={project.data.link}
					title={project.data.title}
					description={project.data.description}
					alt={project.data.img_alt}
					tags={project.data.tags}
					github_url={project.data.github_link}
					images_path={project.data.image_path}
				/>
			))
		}
	</div>
	<!-- <p>{projects.map((project) => project.data.image_path)}</p> -->
	<Link text="View more projects" ariaLabel="View more projects" href="./more-projects" arrow />
</section>
