---
import { getCollection } from 'astro:content';
import Link from '@components/ui/Link.astro';
import SubTitle from '@components/ui/SubTitle.astro';
import GithubButtons from './ui/GithubButtons.astro';
import NewCard from './ui/NewCard.astro';

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<!-- the div below is used to scroll to this section and place the navbar in this h-10 div otherwise the navbar will overlap the section -->
<div class="h-10" id="projects"></div>

<section
	data-testid="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-auto"
>
	<SubTitle text="Projects" />
	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		{
			projects.map((project) => (
				<NewCard
					url={project.data.link}
					title={project.data.title}
					description={project.data.description}
					alt={project.data.img_alt}
					tags={project.data.tags}
					github_url={project.data.github_link}
					images_path={project.data.image_path}
				/>
			))
		}
	</div>
	<Link text="View more projects" ariaLabel="View more projects" href="./more-projects" arrow />
	<div class="my-10">
		<GithubButtons />
	</div>
</section>
