---
import '../styles/markdown.css';
import '../styles/theme.css';
import 'remixicon/fonts/remixicon.css';
import Footer from '@components/Footer.astro';
import { SEO } from 'astro-seo';
import GoogleAnalytics from '@components/GoogleAnalytics.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import LangSwitch from '@components/ui/LangSwitch.astro';

export interface LayoutProps {
	metaTitle: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Dynamically determine the language based on the current URL
const lang = Astro.url.pathname.startsWith('/es/') ? 'es' : 'en';
const langToggleUrl =
	lang === 'es' ? Astro.url.pathname.replace('/es/', '/') : `/es${Astro.url.pathname}`;

const { metaTitle = 'Juan Diaz | Portfolio' } = Astro.props as LayoutProps;
---

<!doctype html>
<html
	lang={lang}
	class="scroll-smooth"
	data-testid="html"
	class:list={['scroll-smooth', 'no-js']}
	data-testid="html"
>
	<head>
		<SEO
			title={metaTitle}
			description="Juan Diaz is a web developer based in Charlotte, NC. He specializes in building (and occasionally designing) exceptional websites."
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" href="/favicon.png" />

		<title>{metaTitle}</title>

		<!-- Theme initialization to prevent FOUC (Flash of Unstyled Content) -->
		<script is:inline>
			const root = document.documentElement;
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark';
				}
				return 'light';
			})();
			if (theme === 'light') {
				root.classList.remove('dark');
			} else {
				root.classList.add('dark');
			}
			root.classList.remove('no-js');
		</script>

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	>
		<slot />
		<BackToTop />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
		<GoogleAnalytics />
	</body>
</html>
