---
import '@styles/markdown.css';
import '@styles/theme.css';
import '@styles/global.css';
import 'remixicon/fonts/remixicon.css';
import Footer from '@components/Footer.astro';
import { SEO } from 'astro-seo';
import GoogleAnalytics from '@components/GoogleAnalytics.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import ThemeInitializer from '@components/ui/ThemeInitializer.astro';
import { site } from '@src/consts';

export interface LayoutProps {
	metaTitle: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Dynamically determine the language based on the current URL
const lang = Astro.url.pathname.startsWith('/es/') ? 'es' : 'en';
const langToggleUrl =
	lang === 'es' ? Astro.url.pathname.replace('/es/', '/') : `/es${Astro.url.pathname}`;

const { metaTitle = site.author + ' | Portfolio' } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang={lang} class:list={['scroll-smooth', 'no-js']} data-testid="html">
	<head>
		<SEO title={metaTitle} description={site.description} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" href="/favicon.png" />

		<title>{metaTitle}</title>

		<ThemeInitializer />

		<link rel="canonical" href={canonicalURL} />
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	>
		<slot />
		<BackToTop />
		<Footer />

		<GoogleAnalytics />
	</body>
</html>
