---
import projectImage from '@assets/images/project.png';
import { Image } from '@astrojs/image/components';
import Tags from '@components/ui/Tags.astro';
import Button from '@components/ui/Button.astro';
interface Props {
	github_url?: string;
	url?: string;
	alt?: string;
	title?: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	github_url = '#',
	url = '#',
	alt = 'Project image',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<section class="w-full p-4 md:w-1/2 lg:w-1/3">
	<article
		data-testId="card"
		class="rounded-xl bg-white p-3 shadow-lg duration-300 hover:scale-105 hover:transform hover:shadow-xl"
	>
		<a href={url} aria-label="link to project">
			<div class="relative flex items-end overflow-hidden rounded-xl">
				<Image
					src={projectImage}
					alt={alt}
					aspectRatio="4:4"
					format="png"
					width={400}
					height={400}
					loading="eager"
				/>
			</div>
		</a>
		<div class="mt-1 p-2">
			<h3 class="text-xl text-orange lg:text-2xl">{title}</h3>
			<Tags tags={tags} />
			<div class="flex justify-between p-2">
				<a
					href={github_url}
					class="text-gray-900 rounded-xl bg-orange p-1 transition duration-300 hover:bg-opacity-60"
					>Github Repo</a
				>
				<a
					href={url}
					class="text-gray-900 rounded-xl border-2 border-black bg-orange p-1 transition duration-300 hover:bg-opacity-60"
					>Demo</a
				>
			</div>
		</div>
	</article>
</section>
