---
import ArrowRight from '@components/icons/ArrowRight.astro';

interface Props {
	text: string;
	href: string;
	className?: string;
	arrow?: boolean;
	target?: boolean;
	ariaLabel?: string;
}

const { text, href, className, target, ariaLabel, arrow } = Astro.props;
const targetAttribute = target ? '_blank' : '_self';
// class={`flex py-2 transition duration-300 lg:px-3 ${className} hover:text-orange dark:hover:text-orange`}
---

<a
	href={href}
	target={targetAttribute}
	rel="noopener"
	aria-label={ariaLabel}
	class={`flex py-2 transition duration-300 lg:px-3 text-black hover:text-orange dark:text-white dark:hover:text-orange ${className}`}
>
	{text}
	{arrow ? <ArrowRight /> : null}
</a>
